supervised/*.pyc
supervised/__pycache__/
supervised/tests/__pycache__/
supervised/.vscode/
supervised/.gitignore
supervised/.cache
supervised/*.txt
supervised/training_data
supervised/period_17
supervised/pickle
clusterer/build
clusterer/out
clusterer/.idea
clusterer/*.iml
clusterer/*.pdf
clusterer/.gradle
training_data
